<header class="page-header row">
  <h2>About</h2>
</header>

<section class="section-body">
  <h3>
    Research
  </h3>
  <h3>
    Design
  </h3>
  <h3>
    Implementation
  </h3>
</section>

<footer class="page-footer">

</footer>
