<div class="modal hide fade">
  <header class="modal-header">
    <button type="button" class="close" {{action close}} aria-hidden="true">&times;</button>
    <h3>Contact Us</h3>
  </header>
  <form class="modal-body modal-form">
    <div class="control-group">
      <label class="control-label">Email</label>
      <input type="email" />
    </div>
  </form>
  <footer class="modal-footer form-actions">
    <a href="#" class="btn " {{action close}}>Close</a>
    <button type="submit" {{action save content}} class="btn btn-large btn-success">Submit</button>
  </footer>
</div>
