<div class="hero-unit">
  <div class="hero-unit-image">
  </div>
  <h2>Clover Interactive helps build awesome web apps.</h2>
  <p class="span4">We build awesome websites using rails, chef, and ember.js</p>
  <p class="span3">Lorem Ipsum</p>
  {{#linkTo "work" class="btn btn-success pull-right span2"}}
    Our Work &rarr;
  {{/linkTo}}
</div>

